version: "3.9"

services:
  app:
    image: rtonete/infra-lab:${APP_VERSION}
    restart: unless-stopped
    networks:
      - backend
    healthcheck:
        test: ["CMD", "wget", "-qO-", "http://localhost"]
        interval: 10s
        timeout: 3s
        retries: 5

  proxy:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
    networks:
      - backend
      - frontend

networks:
  frontend:
  backend:

